.react-excel .active-sheet{
    background-color: rgb(86, 86, 231);
    color: rgb(219, 212, 212);
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}

.react-excel div{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.react-excel div button{
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    color: rgb(86, 86, 231);
}

.react-excel table tr:nth-child(even) {
    background-color: #f2f2f2;
}
