/* add css module styles here (optional) */

.active{
  background-color: aqua;
}

.tableStyles{
  width: 80%;
margin: 2rem auto;
border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
